<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link rel="stylesheet" href="../../dist/output.css">
  <link rel="stylesheet" href="../../assets/styles/style.css">
  <link rel="stylesheet" href="../../assets/icomoon/style.css">
  <title>Input</title>
</head>

<body>
  <div class="border-r border-gray-300 flex h-screen w-full max-w-[20rem] flex-col bg-gray-100 p-4 text-gray-300">
    <div class="p-4 mb-2">
      <h5 class="block  text-2xl antialiased  font-semibold leading-snug tracking-normal text-gray-900">
        Dashboard
      </h5>
    </div>
    <nav
      class="flex min-w-[240px] h-full flex-col justify-between gap-1 p-2 py-8 capitalize text-gray-800 duration-200">
      <div class="flex flex-col text-3xl ">
        <button
          class="flex items-center text-xl w-full p-3 gap-4 leading-tight transition-all rounded-lg outline-none text-start hover:bg-gray-300 hover:bg-opacity-80 hover:text-gray-900 focus:bg-slate-950 focus:text-sky-50">
          <span class="icon-home text-2xl"></span>
          Home
        </button>
        <button role="button"
          class="flex items-center text-xl w-full p-3 gap-4 leading-tight transition-all rounded-lg outline-none text-start hover:bg-gray-300 hover:bg-opacity-80 hover:text-gray-900 focus:bg-slate-950 focus:text-sky-50">
          <span class="icon-table2 text-2xl"></span>
          Table
        </button>
        <button
          class="flex items-center text-xl w-full p-3 gap-4 leading-tight transition-all rounded-lg outline-none text-start hover:bg-gray-300 hover:bg-opacity-80 hover:text-gray-900 focus:bg-slate-950 focus:text-sky-50">
          <span class="icon-user-plus text-2xl"></span>
          Add Employee
        </button>
        <button
          class="flex items-center text-xl w-full p-3 gap-4 leading-tight transition-all rounded-lg outline-none text-start hover:bg-gray-300 hover:bg-opacity-80 hover:text-gray-900 focus:bg-slate-950 focus:text-sky-50">
          <span class="icon-edit text-2xl"></span>
          Edit
        </button>
      </div>
      <button
        class="flex items-center text-xl w-full p-3 gap-4 leading-tight transition-all rounded-lg outline-none text-start hover:bg-gray-300 hover:text-gray-900 active:bg-slate-950 active:text-sky-50">
        <span class="icon-log-out text-2xl"></span>
        Log Out
      </button>
    </nav>
  </div>

</body>

</html>
