<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link rel="stylesheet" href="../../dist/output.css">
  <link rel="stylesheet" href="../../assets/styles/style.css">
  <link rel="stylesheet" href="/assets/icomoon/style.css">
  <title>Card</title>
</head>

<body>
  <div
    class="w-72 h-72 p-5 flex flex-col justify-between text-sky-50 rounded-lg bg-gradient-to-br from-slate-950 to-slate-800">
    <div class="flex self-end">
      <span class="icon-man text-sky-50 text-7xl"></span>
    </div>
    <div class="flex flex-col gap-3">
      <p class="block text-2xl">
        The number of men
      </p>
      <span class="block font-bold text-6xl">
        544
      </span>
    </div>
  </div>
</body>

</html>
