<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link rel="stylesheet" href="../../dist/output.css">
  <link rel="stylesheet" href="../../assets/styles/style.css">
  <title>Input</title>
</head>

<body>
  <input type="text" id="first_name"
    class="bg-gray-50 border outline outline-0 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-slate-950 focus:outline-2 block w-full p-2.5"
    placeholder="John" required>
</body>

</html>
