<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link rel="stylesheet" href="../../dist/output.css">
  <link rel="stylesheet" href="../../assets/styles/style.css">
  <title>Button</title>
</head>

<body>
  <button class="btn bg-slate-950 font-bold text-sky-50 p-4 rounded-lg" type="button">
    Button
  </button>
</body>

</html>
