<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link rel="stylesheet" href="../../dist/output.css">
  <link rel="stylesheet" href="../../assets/styles/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
  <title>Form</title>
</head>

<body>
  <div class="flex flex-1 justify-center items-center h-screen"> <!-- to center the form -->
    <form class="flex flex-col justify-center items-center gap-10 border border-gray-300 p-10 w-fit rounded-xl">
      <div class="grid grid-cols-2 gap-10 box-border w-fit">
        <div class="flex flex-col justify-between">
          <h6 class="block antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
            Your Full Name
          </h6>
          <div class="h-11 w-full min-w-[200px]">
            <input type="text" id="first_name"
              class="bg-transparent border outline outline-0 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-slate-950 focus:outline-2 block w-full p-2.5"
              placeholder="John" required>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <h6 class="block antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
            Age
          </h6>
          <div class="h-11 w-full min-w-[200px]">
            <input type="number" inputmode="numeric" min="14" max="60" step="1" id="first_name"
              class="bg-transparent border outline outline-0 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-slate-950 focus:outline-2 block w-full p-2.5"
              placeholder="22" required>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <h6 class="block antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
            Department
          </h6>
          <div class="h-11 w-full min-w-[200px]">
            <select required
              class="bg-transparent border outline outline-0 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-slate-950 focus:outline-2 block w-full p-2.5">
              <option value="Accounting">Accounting</option>
              <option value="IT">IT</option>
              <option value="Marketing">Marketing</option>
              <option value="SMM">SMM</option>
            </select>
          </div>

        </div>
        <div class="flex flex-col gap-3">
          <h6 class="block antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
            Position
          </h6>
          <div class="h-11 w-full min-w-[200px]">
            <input type="text" id="first_name"
              class="bg-transparent border outline outline-0 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-slate-950 focus:outline-2 block w-full p-2.5"
              placeholder="Position" required>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <h6 class="block antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
            Gender
          </h6>
          <div class="h-11 w-full min-w-[200px]">
            <div class="flex gap-10">
              <div class="inline-flex items-center">
                <label class="relative flex items-center p-3 rounded-full cursor-pointer" htmlFor="html">
                  <input name="type" type="radio"
                    class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 text-gray-900 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:before:bg-gray-900 hover:before:opacity-10"
                    id="male" />
                  <span
                    class="absolute text-gray-900 transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 16 16" fill="currentColor">
                      <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
                    </svg>
                  </span>
                </label>
                <label class="mt-px font-light text-gray-700 cursor-pointer select-none" for="male">
                  Male
                </label>
              </div>
              <div class="inline-flex items-center">
                <label class="relative flex items-center p-3 rounded-full cursor-pointer" htmlFor="react">
                  <input name="type" type="radio" required
                    class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 text-gray-900 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:before:bg-gray-900 hover:before:opacity-10"
                    id="female" />
                  <span
                    class="absolute text-gray-900 transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 16 16" fill="currentColor">
                      <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
                    </svg>
                  </span>
                </label>
                <label class="mt-px font-light text-gray-700 cursor-pointer select-none" for="female">
                  Female
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <h6 class="block antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
            Date Of Birth
          </h6>
          <div class="h-11 w-full min-w-[200px]">
            <input type="date" id="birthday" min="1963-01-01" max="2009-01-01"
              class="bg-transparent border outline outline-0 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-slate-950 focus:outline-2 block w-full p-2.5"
              placeholder="22" required>
          </div>
        </div>

      </div>
      <div class="w-36 self-center justify-center items-center flex">
        <input
          class="btn bg-slate-950 border w-full border-slate-950 transition-all duration-200 font-bold text-sky-50 p-4 rounded-lg active:text-slate-950 active:bg-sky-50"
          role=" button" type="submit" value="Submit" />

      </div>
    </form>
  </div>
</body>

</html>
