<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link rel="stylesheet" href="../../dist/output.css">
  <link rel="stylesheet" href="../../assets/styles/style.css">
  <title>Table</title>
</head>

<body>
  <div id="render" class="flex justify-center items-center">
    <table class="text-left table-auto w-6/12 rounded-lg overflow-hidden">
      <thead>
        <tr class="bg-slate-950 text-sky-50 font-bold">
          <th class="p-4">
            <p class="block  antialiased font-bold leading-none opacity-70">
              Name
            </p>
          </th>
          <th class="p-4">
            <p class="block antialiased font-bold leading-none opacity-70">
              Job
            </p>
          </th>
          <th class="p-4 ">
            <p class="block  antialiased font-bold leading-none opacity-70">
              Birthday
            </p>
          </th>
          <th class="p-4 ">
            <p class="block  antialiased font-bold leading-none opacity-70">Actions</p>
          </th>
        </tr>
      </thead>
      <tbody class="border border-gray-200">
        <tr class="even:bg-gray-100">
          <td class="p-4">
            <p class="block  antialiased font-normal leading-normal">
              Richard Gran
            </p>
          </td>
          <td class="p-4">
            <p class="block  antialiased font-normal leading-normal">
              Manager
            </p>
          </td>
          <td class="p-4">
            <p class="block  antialiased font-normal leading-normal">
              04/10/21
            </p>
          </td>
          <td class="p-4 flex gap-7">
            <button class="block antialiased font-medium leading-normal text-blue-500">Edit</button>
            <button class="block antialiased font-medium leading-normal text-red-500">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<script src="/js/main.js"></script>
<script src="/components/table/table.js"></script>
<script>
  // renderTable(employees)
</script>
</body>

</html>
